body.darkV .Archive-body a,body.darkV .Archive-body ul.genPostag li a.archiveAuthore,body.darkV .widgetSideTitle a{
    color:aliceblue;
}

body.darkV li#menu-item-770 a{ color: #A5A5A5;}
body.darkV li#menu-item-770 a:hover{color: #FB0B0B;}


body.darkV .comentsArea .depth-1 {
    border-bottom: 1px solid #262626;
    margin-bottom: 25px;
}

body.darkV .comentsArea .depth-2{
    border-right: 1px solid #262626;
    padding-right: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #262626;
    margin-bottom: 20px;

}


body.darkV .comentsArea .depth-3{
    border-right: 1px solid #262626;
    padding-right: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #262626;
    margin-bottom: 20px;

}
